@import "tailwindcss";

@theme {
  --color-lightThemebody: #D49CF5;
  --color-lightThemeEmphasis: #A200FF;
  --color-gray: #DADADA;
  --color-darkThemebody: #33283A;
  --color-darkThemeContainer: #252525;
  --color-darkThemeEmpahis: #4B2362
}